*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 60.5%;
	margin-left: 4rem;
	margin-right: 4rem;
	border: 2px solid black;
}